@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.backgroundImg {
  /* background-image: url("./images/image\ copy.png"); */
  background-image: url("https://mobimg.b-cdn.net/v3/fetch/70/703e3aefd9500eff0f63294bc383ac2a.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.zoom {
  zoom: 85%;
}
.content-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.carousel-container {
  width: 400px;
  height: 80%;
  display: flex;
}
.button-flags {
  background-color: rgba(18, 13, 13, 0.836) !important;
  color: aliceblue !important;
  border-radius: 14px !important;
  /* color: black !important;
  border-radius: 14px !important; */
}
.drop{
  background-color: rgb(0, 0, 0) !important;
  color: aliceblue !important;
  border-radius: 14px !important;
}
.drop:hover{
  background-color: rgb(2, 0, 0) !important; /* Example hover color */
  color: white !important; /* Example hover text color */
}
.button-flags:hover {
  /* Add hover styles here */
  background-color: rgb(2, 0, 0) !important; /* Example hover color */
  color: white !important; /* Example hover text color */
}
.phone-input{ 
  background-color: rgba(21, 18, 18, 0.832)  !important;
  margin-left: "100px" !important;
}
textarea {
  -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
  user-drag: none; /* Standard property */
  -webkit-user-select: none; /* Disable text selection in WebKit browsers */
  -moz-user-select: none; /* Disable text selection in Firefox */
  -ms-user-select: none; /* Disable text selection in Internet Explorer/Edge */
  user-select: none; /* Standard property */
}
/* Tailwind CSS */
.progress-container {
  @apply  h-2   bg-gray-300 rounded-full  ;
}

.progress-bar {
  @apply h-1 bg-[#000000]  rounded-full transition-all duration-300 ease-in-out;
}
label{
  gap: "8px";
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(210, 20, 20, 0.346);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.438);
  width: 0px;
}
.center-toaster {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it stays above other content */
}
